/* Tüm bağlantılar */
a {
    text-decoration: none;
    font-size: small;
    padding: 10px;
    display: block;
    color: black;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace
}


/* Menü - varsayılan olarak gizli */
.liste-menu {
    display: flex; /* yan yana sıralanması*/
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /*içerikler taşarsa alta gecebilir*/
    gap: 15px; /* menü elemanları arasına bosluk*/
    padding: 15px 30px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;


}


.liste-menu.show {
    transform: translateX(0);
    opacity: 2;
    pointer-events: auto;
    background: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
}


.liste-menu a {
    color: #333;
    font-weight: 500;
    padding: 10px;
    border-radius: 6px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.liste-menu a:hover {
    background-color: #f0f0f0;
    color: #00ADB5;
}

/* Film kart yapısı */
.film-kart {
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-radius: 20px;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.film-kart:hover {
    transform: scale(1.03); /* kartın üstüne gelince büyüme efekti veriyoruz.*/
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.film-afis {
    width: 100%;
    height: 340px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

/* Vitrin düzeni */
.vitrin {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
    padding: 20px;
    margin-left: 100px;
}

/* Oyuncu kart alanı */
#vitrin_oyuncular {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    font-size: large;
    padding: 20px;
    margin: 100px;
}

#oyuncu-kart {
    flex-direction: column;
    align-items: center;
    width: 200px;
}


.film-href {
    font-size: large;
    font-family: Calibri;
    font-weight: normal;
}

#baslik-imdb {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    margin: 40px 0 10px 0;
    color: #393E46;
}


body {
    font-family: 'Poppins', sans-serif;

   background-color: #e0e0e0; !important;


    color: #222831;
    margin: 0;
    padding: 0;

}

.liste-menu a:hover, .liste-menu a.active {
    background-color: #00adb5;
    color: #ffffff;
}

