{% extends 'films/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}FilmDetayları{% endblock %}
    <link rel="stylesheet" href="{% static 'films/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    {% block favicon %}
        <link rel="icon" type="image/png" href="{% static 'films/media/film_detaylari.png' %}">
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div class="main-container">

    {% block content %}
    <div class="film-detay-kart">

        <div class="film-bilgi-kart" style="flex: 1;"> <!-- 1 alan kapla -->
            <img src="{{ film.image.url }}" class="filminfo-afis" alt="{{ film.title }}">
            <h2 class="film-title">{{ film.title }}</h2>
            <div class="film-bilgi">
                <p><strong>Dil:</strong> {{ film.language }}</p>
                <p><strong>Puan:</strong> {{ film.average_rating }}</p>
                <p><strong>Süre:</strong> {{ film.duration }} dk</p>
                <p><strong>Tür:</strong> {{ film.genre }}</p>
                <p style="margin-top: 10px; text-align: justify; max-width: 900px; margin: 20px auto">{{ film.description }}</p>

            </div>
        </div>
        <hr>
        <br>


        <div class="iframe-video">
            <h2 style="text-align: center">Fragman</h2>
            <iframe style="border-radius: 10px" src="{{ more_info.youtube_trailer_url }}"
                    frameborder="0" allowfullscreen title="Fragman"></iframe>

        </div>

        <hr>
        <div class="yorum-container">
            <!-- Sol: Yorum Formu -->
            <form id="form" method="POST" action="{% url 'film_more_info' pk=film.pk %}" class="yorum-bolumu">
                {% csrf_token %}
                <h3>Kullanıcı Yorumları</h3>
                <div class="form-row">
                    <label for="kullanici_adi">Adınız:</label>
                    <input type="text" name="kullanici_adi" id="kullanici_adi" placeholder="Adınızı Giriniz" required>
                </div>
                <div class="form-row">
                    <label for="kullanici_soyadi">Soyadınız:</label>
                    <input type="text" name="kullanici_soyadi" id="kullanici_soyadi" placeholder="Soyadınızı Giriniz"
                           required>
                </div>
                <div class="form-row">
                    <label for="yorum">Yorum:</label>
                    <textarea name="yorum" id="yorum" rows="4" placeholder="Yorumunuzu Yazınız" required></textarea>
                </div>
                <button type="submit" class="yorum-gonder-btn">Gönder</button>

                <div class="rating">
                    <span style="padding-left: 80px">Filme Oyunuz</span><br>
                    <input type="radio" name="puan" id="star1" value="1" required><label for="star1">★1</label>
                    <input type="radio" name="puan" id="star2" value="2" required> <label for="star2">★2</label>
                    <input type="radio" name="puan" id="star3" value="3" required> <label for="star3">★3</label>
                    <input type="radio" name="puan" id="star4" value="4" required> <label for="star4">★4</label>
                    <input type="radio" name="puan" id="star5" value="5" required> <label for="star5">★5</label>





                </div>
            </form>

            <!-- Sağ: Yorum Listesi -->
            <div class="yorum-listesi">
                <h3>Bu Film Hakkında Yorumlar</h3>
                {% for yorum in comments %}
                    <div class="yorum-kart">
                        <strong>{{ yorum.user_name }}</strong>
                        <small style="color:gray;">{{ yorum.created_at|date:"d F Y, H:i" }}</small>
                        <p>{{ yorum.comment_text }}</p>
                    {% if yorum.rating %}
                        <span style="color:gold;">Filme Puanınız:{{ yorum.rating }}★</span>
                    {% endif %}
                    </div>
                {% empty %}
                    <p>Henüz yorum yapılmadı.</p>
                {% endfor %}
            </div>


        </div>




    </div>
    {% endblock %}
</div>

<script src="{% static 'films/eren.js' %}"></script>
</body>
</html>