{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oyuncular</title>
    <link rel="stylesheet" href="{% static 'films/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<nav class="liste-menu">
    <div class="nav-left">
        <a href="{% url 'filmler' %}"><i class="fa-solid fa-star"></i> IMDB En İyi 25 Film</a>
        <a href="{% url 'oyuncular' %}"><i class="fa-solid fa-user"></i> Son 10 Yılın Oscar Alan
            Oyuncuları</a>
        <a href="yönetmenler.html"><i class="fa-solid fa-video"></i> Yönetmenler</a>
        <a href="türler.html"><i class="fa-solid fa-tags"></i> Türler</a>
        <a href="filmgörselleri.html"><i class="fa-solid fa-image"></i> Film Görselleri</a>
    </div>
    <div class="nav-right">
        <a href="/login"><i class="fa-solid fa-right-to-bracket"></i> Giriş Yap</a>
        <a href="/register"><i class="fa-solid fa-user-plus"></i> Kayıt Ol</a>
    </div>
</nav>

<br><br><br>

<h2 style="text-align: center">Son 10 Yılın Oscar Alan Oyuncuları</h2>

<div class="oyuncular-container">
    {% for item in actor_awards %}
        <div class="oyuncu-kart">
            <img src="{{ item.actor.actor_picture.url }}" alt="actor picture" class="oyuncu-resim">
            <h3>{{ item.actor.name }} {{ item.actor.surname }}</h3>
            <div class="oyuncu-oduller"></div>
            <ul>
                {% for oscar in item.awards %}
                    <li>{{ oscar.year }} - {{ oscar.category }} <br><em>({{ oscar.film }})</em></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>


<script src="{% static 'films/eren.js' %}"></script>
</body>
</html>