{% extends 'films/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}Üyeler{% endblock %}
    <link rel="stylesheet" href="{% static 'films/style.css' %}">
 {% block favicon %}
        <link rel="icon" type="image/png" href="{% static 'films/media/üyeler_icon.png' %}">
    {% endblock %}
</head>
<body>
<main class="main-content">
{% block content %}
<h3 id="üyeler">Üyeler</h3>
    <div class="profil-container">
        {% for uye in uyeler %}
            <div class="profil-card">
                <img src="{{ uye.profile_picture.url }}" alt="User Profile" class="profil-img">
                <h3>{{ uye.register.ad }} {{ uye.register.soyad }}</h3>
                <p>Cinsiyet: {{ uye.cinsiyet }}</p>
                <p>Kayit Tarihi: {{ uye.kayit_tarihi }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}
</main>

</body>

</html>